@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

#header {
  background: linear-gradient(rgba(38, 43, 18, 0), rgba(38, 43, 18, 0.8)),
    url('https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWluaW1hbCUyMGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  /* background-image: url('https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWluaW1hbCUyMGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

#header a {
  color: white;
  text-decoration: underline dotted;
}

h1 {
  float: left;
  margin: 0;
  padding: 120px 0 0 50px;
  font-weight: bolder;
  color: white;
  font-size: 48px;
  width: 400px;
}

h2 {
  float: right;
  padding: 200px 50px 0 0;
  color: white;
}

#content-1 {
  background-color: #ffebcb;
  height: auto;
}

.thumbnail {
  margin: 0 50px;
  padding: 30px 0;
  align-items: center;
  position: relative;
}

.thumbnail h3 {
  font-size: 28px;
  padding-right: 20px;
  float: left;
  width: calc(100vw - 450px);
  color: #262b12;
}

.thumbnail p {
  font-size: 18px;
  float: left;
  width: calc(100vw - 450px);
  color: #262b12;
}

.img-container {
  float: right;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
}

.thumbnail img {
  width: 300px;
  border-radius: 10px;
}

.clear-float {
  clear: both;
}

#content-2 {
  background-color: rgb(38, 43, 18);
  color: #ffebcb;
}

.review {
  width: 50%;
  float: left;
  padding: 25px 50px;
}

.review img {
  width: 150px;
}

.review blockquote {
  border-left: 3px solid #ffebcb;
  padding-left: 7px;
  margin: 15px 0;
}

.profile {
  margin-top: 25px;
  max-width: 80px;
  width: 80px;
  border-radius: 50%;
  float: right;
}
